<!-- <div *ngIf="movies.length>0; else no_Movies"> -->
<div *ngIf="movies.length>0; else no_Movies">
  <h2>{{myMovieListTitle}}</h2>
  <div class="alert alert-warning">
    Total {{filteredMovies.length}} movies found
  </div>

  <div class="mb-3">
    <!-- <input type="text" class="form-control" [(ngModel)]="filterText" placeholder="Search Movie"> -->
    <input type="text" class="form-control" [(ngModel)]="filterText" (ngModelChange)="onInputChange()"
      placeholder="Search Movie">
    <small class="text-muted" *ngIf="filterText">Looking for {{filterText}}</small>
  </div>

  <ng-template [ngTemplateOutlet]="myMovieFullList2" [ngTemplateOutletContext]="{movies: movies}">
  </ng-template>
  <!-- <ng-template [ngTemplateOutlet]="myMovieFullList2"
    [ngTemplateOutletContext]="{movies: movieRepository.getPopularMovies()}">
  </ng-template> -->
  <ng-template [ngTemplateOutlet]="myMovieFullList"></ng-template>

</div>




<ng-template #myMovieFullList>
  <!-- <div class="card mb-3" *ngFor="let movie of movies | movieFilter:filterText; let i=index"> -->
  <div class="card mb-3" *ngFor="let movie of movies | movieFilter:filterText; let i=index">
    <div class="row">
      <div class="col-md-2">
        <img src="../../assets/img/{{movie.imgUrl}}" class="img-fluid rounded-start" alt="">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h3 class="card-title">{{movie.title | uppercase}}</h3>
          <!-- <p class="card-text">{{movie.releaseDate | date:'dd/MM/y'}}</p> -->
          <p class="card-text">{{movie.desc | descSummary:30}}</p>
          <button class="btn btn-sm btn-outline-primary">Movie Details</button>
          <button (click)="addToList($event,movie)" class="btn btn-sm btn-outline-success ms-1">Add List</button>

        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #myMovieFullList2 let-myMovies="movies">
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
    <div class="col" *ngFor="let movie of myMovies; let i=index">

      <div class="col-md-3">
      </div>
      <div class="card h-100">
        <img src="../../assets/img/{{movie.imgUrl}}" class="card-img-top img-fluid rounded-start" alt="">
        <div class="card-body">
          <h3 class="card-title">{{movie.title | uppercase}}</h3>
          <p class="card-text">{{movie.desc | descSummary}}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #no_Movies class="alert alert-danger">
  <div class="alert alert-danger">
    {{noneMovieTitle}}
  </div>
</ng-template>
