@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: 'Dancing Script', sans-serif;
  font-size: 1.3rem;
}


.grayText{
  color: rgb(190, 190, 190);
}

.bold{
  font-weight: bold;
}

/*

font-family: 'Neonderthaw', cursive;
font-family: 'Rubik Beastly', cursive;

*/

/* Nav Start */
nav {
  background-color: rgb(92, 241, 241);
  display: flex;
  padding: 10px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}

.navImage {
  max-width: 80px;
  margin: 5px 20px;
}

/* Nav End */

/* Hero content start */
section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.heroImg {
  max-width: 1000px;
  align-self: center;
}

.heroHeader{
  font-size: 40px;
  margin-bottom: 30px;
}

.heroMainText{
  margin: 10px;
  line-height: 25px;
}

.heroParagraphSpace{
  margin: 20px;
}

.heroCapitalL{
  font-weight: bold;
  font-size: 36px;
}

/* Hero content end */

/* card content start */
.card{
  width: 200px;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  position: relative;
}


.cardImage {
  width: 100%;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  margin-bottom: 10px;
}

.cardStats{
  display: flex;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.card-star{
  height: 20px;
}

.cardPrice{
  margin-top: auto;
}

.cardBadge{
  position: absolute;
  padding: 6px;
  top: 6px;
  left: 6px;
  background-color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-weight: bold;
}


/* card content end */
