/* Google fonts for all pages start */


@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

.fontInter400 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.fontInter600 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.fontInter700 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

/* Google fonts for all pages end */



/* This is for all html pages start */

body {
  margin: 0;
  height: 100vh; /* vh = view height  */
  background-color: #535346;
}

/* This is for all html pages end */



/* Navbar start */

.navLogo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
  background-color: rgb(116, 96, 58);
  padding: 20px 20px;
  height: 80px;
}

.navLogoText,  .navRightMenuText {
  margin: 0;

}

.navLogoText {
  margin-right: auto;
  font-size: 25px;
  font-weight: 800;
  color: #3babca;
}

.navRightMenuText {
  font-size: 25px;
  color: #99c7d4;
}

/* Navbar end */




/* Main Page start */

main{
  padding: 20px 15px;
  background: url("./images/react-logo.png"),white;
  background-repeat: no-repeat;
  background-position: right 80%; /* right horizontal , 80% vertical */
  background-size: 300px;
}


.mainH1{
  margin-left: 10px;
  font-size: 35px;
  letter-spacing: -0.05em;
}


.ulMain {/* Remove default bullets */
  margin-top: 30px;
  max-width: 500px;
  
}



.ulMain li::marker {
  color: yellow;
  font-size: 1.3em;
}

.ulMain > li {
  line-height: 20px;
  padding-block: 5px; /* this makes padding vertical */
}




/* Main Page start */
