<main>
  <div class="row">
    <div class="col-12 col-md-8 m-4 p-3">
      <h1 class="page-title">Business Cards</h1>
      <p class="page-desc">
        Angular Test - Cards
      </p>
    </div>
    <div class="col-12 col-md-3 d-flex flex-row-reverse align-items-center m-4 p-3">
      <button mat-flat-button color="primary" (click)="addCard()">Add Card</button>
    </div>
  </div>

  <hr>

  <div class="cards">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4" *ngFor="let card of cardService.cards">
        <app-card-item [card]="card"></app-card-item>
      </div>
    </div>
  </div>
</main>>
