/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main{
  padding: 40px;
  .page-title{
    font-size: 50px;
    color: black ;
  }
  .page-desc{
    color: darkblue
  }
}

.mat-snack-bar-container{
  color: white;
  &.success{
    background-color: green;
  }
  &.error{
    background-color: red;
  }
}
