<mat-card class="card-item">
  <mat-card-title-group>
    <mat-card-title>{{card.name}}</mat-card-title>
    <mat-card-subtitle>{{card.title}}</mat-card-subtitle>
    <img mat-card-lg-image
      src="https://docs.kariyer.net/candidate/000/005/800/avatar/580024520180329013734847.jpg?filesec=XdsV1VzBKiPzRwcAz5MUUk8GXeBbbElwvHY%2BgIcUU90AwJuOCUWd8%2FWnhq6QklWICGPxslG6XFelsuE7H173AAK7inBPJzXz!e!">
  </mat-card-title-group>
  <mat-card-content>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{card.phone}}</li>
      <li class="list-group-item">
        <span *ngIf="card.email">{{card.email}}</span>
        <small class="text-danger" *ngIf="!card.email">No email address</small>
      </li>
      <li class="list-group-item">
        <span *ngIf="card.address">{{card.address}}</span>
        <small class="text-danger" *ngIf="!card.address">No address</small>
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
