<div class="row" style="background-color: aqua;">
  <div class="col-sm-12" style="background-color: green;">
    <img src="" alt="" class="img-fluid">
  </div>
</div>

<div class="row" style="background-color: aqua;">
  <div class="col-sm-12" style="background-color: green;">
    <h1>Recipe Detail Name</h1>
  </div>
</div>
<div class="row" style="background-color: aqua;">
  <div class="col-sm-12" style="background-color: green;">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Recipe Options
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add Recipe</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    Ingredients
  </div>
</div>
