/*.pictures {
    width: 30%;
    height: 250px;
    float: left;
    margin: 1.66%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}*/


@media (min-width: 768px) {
    .row-equal {
        display: flex;
        flex-wrap: wrap;
    }
    .col-equal {
        margin: auto;
    }
}

.H1_Header {

    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 3px crimson solid;
    padding-top: 1%;
    width: 50%;

}

hr.style11 {
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

.navbar-custom  {
    background-color: #ab753e;
}