.main {
    border: 20px solid #0f6674;
    padding: 20px;
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
    font-family: 'Press Start 2P', cursive;

}

.display-4{
    font-family: 'Baloo Thambi', cursive;
}

.jumbo_2ndp{
    font-family: 'Staatliches', cursive;
}

#jumbofirstletter:first-letter {
    font-size:50px;
}

.content {
    font-family: 'Oleo Script', cursive;
}

.navbar-custom  {
    background-color: #ab753e;
}

.violintypes {
    margin-top: 1%;
    background-color: #6f1717;
    background-repeat: no-repeat;
    background-size: cover;
    color: papayawhip;

}

.violintypeheader {
    font-family: 'Indie Flower', cursive;

}

.violintypecontent {
    font-family: 'Josefin Sans', sans-serif;
}

.violintypelist {
    background-color: #f0776c;
}

.bg-custom {
    background-color: linen;
}



